@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ede8ed;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 20px;
}

.ideas-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.idea {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.text {
  font-size: 1.2rem;
  font-weight: 600;
}
.username {
  margin: 10px;
  color: gray;
}

.fa-xmark {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: red;
}

#modal-btn {
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #56a82d;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-form {
  background-color: steelblue;
  width: 50%;
  height: auto;
  padding: 10px;
  margin: 10% auto;
  border-radius: 10px;
}

form,
form input,
form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
form label {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

.submit-btn {
  border-radius: 5px;
  width: 100%;
  background-color: #171e24;
  color: #fff;
  font-size: medium;
  letter-spacing: 1px;
  padding: 10px 20px;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: black;
}

.tag {
  color: #fff;
  background-color: #253327;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
}

.tag-technology {
  background-color: #e64009;
}

.tag-health {
  background-color: #56a82d;
}

.tag-business {
  background-color: #fac60c;
}

.tag-entertainment {
  background-color: #f772a1;
}

.tag-inventions {
  background-color: #ba45f5;
}
